@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  #__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  body {
    @apply bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-50;
  }

  .hero-decoration {
    --size: calc(100vw * 1.25);
    --final-color: 25%;
    --top: 35%;

    position: absolute;
    top: var(--top);
    left: 50%;
    width: var(--size);
    height: var(--size);
    background: linear-gradient(180deg, #f9fafb 0%, #2563eb var(--final-color));
    opacity: 0.5;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    .hero-decoration {
      --size: calc(100vw * 1.5);
      --final-color: 35%;
      --top: 38%;
    }
  }

  @media (max-width: 420px) {
    .hero-decoration {
      --size: calc(100vw * 2);
      --final-color: 50%;
      --top: 50%;
    }
  }
}

.prose .shiki {
  background-color: var(--shiki-light-bg);
  color: var(--shiki-light);
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.prose .shiki span {
  color: var(--shiki-light);
}

.prose .shiki code {
  display: grid;
}

.prose .shiki .line {
  --indent: 0ch;

  min-height: 1lh;
  padding-left: calc(var(--indent) + 2ch);
  text-indent: calc(-1 * (var(--indent) + 2ch));
}

html.dark .prose .shiki {
  background-color: var(--shiki-dark-bg);
  color: var(--shiki-dark);
}

html.dark .prose .shiki span {
  color: var(--shiki-dark);
}
